
body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    width:100%;
    -webkit-text-size-adjust: 100%;/*  おまじない */
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;

}
h1{
    font-size: 100%;
}
.span{
    color: crimson;
}

main{
    width:100%;
    display: block;
    border-bottom:1px solid #ccc;
    position:relative;
}
select{
    display: block;
    text-align: center;
    margin: 10px 3%;
    width: 50%;
    height: 100%;
    font-size:70%;
    box-shadow: 3px 3px 3px 3px #555;
    background-color:rgb(239, 239, 241);
}
.view{
    font-size:80%;
    border: 2px solid ;
}

.AWI{

    margin-left: 3%;
    text-align: center;
}

.KWH{
    display: flex;
    justify-content: space-around;
}
table{
    margin:0;
    padding:0;
    /* width:100%; */
    th{
        font-size: 10px;
    }
    /* tr{
        width:100%;
    } */
    thead th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background-color: #1bd4f0;
    }
    .short {
        width: 10%;
    }
    .veryShort {
        width: 5%;
    }
}
.Date{
    font-size: 10px;
}
.selectData{
    width: 30px;
}

.key {
    font-size: 10px;

}
.imageIcon img{
    width: 50%;
    height: auto;
}
.imageUrl img{
    width: 100%;
    height: auto;
}
#comment{
    font-size: 70%;
}

.dataDelete{
    display: flex;
    justify-content: space-evenly;
}
.dataDeleteBox{
    margin: 3px 0;
    border: 2px solid ;
    
}

.deleat{
    display: block;
    text-align: center;
    margin: 10px 3%;
    width: 30%;
    height: 100%;
    font-size:50%;
    box-shadow: 3px 3px 3px 3px #555;
    background-color:rgb(189, 68, 241);

}

.filterBox1, .searchBox1{
    margin: 3px 0;
    border: 2px solid ;
}

.filterBox2, .searchBox2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
.dateChoice, .searchName{
    font-size: 70%;
    border: 2px solid;
    outline-offset: 2px;
    height: 30px;
    width: 30%;
    /* border: auto; */
    
}
.filter, .search{
    display: block;
    text-align: center;
    width: 30%;
    height: 100%;
    font-size:50%;
    box-shadow: 3px 3px 3px 3px #555;
    background-color:rgb(189, 68, 241);

}

footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:70%;
    text-align: left;
    border-bottom:1px solid #fff;
    height:7%;
    Margin : 0 0 0 3%;
}
.iiwake{
    font-size: 40%;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:96%;
    font-size: 80%;
    margin: 0 3%;
    text-align: center;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #fff;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    color:#0d7dfd;
}
li:hover{
    background: #0d7dfd;
    color:#fff;
}

.positionBtn{
    margin: 10px 3%;
    font-size:70%;
    width: 50%;
}




.position{
    margin: 10px 3%;
    font-size:80%;
    .latitude{
        height: 100%;
    }
    .longitude{
        height: 100%;
    }
}

.img{
    margin: 10px 3%;
    width: 90%;
    height: 50%;
    font-size:70%;
    box-shadow: 3px 3px 3px 3px #555;
    background-color:rgb(241, 239, 239);

}

textarea{
  margin: 10px 3%;
  width: 95%;
  height: 100%;
  font-size:80%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color:rgb(241, 239, 239);
}
#name{
    margin:0 3%;
    width: 95%;
    font-size:70%;
    background-color: #e1efff;
    box-shadow: 3px 3px 3px 3px #555;
}
table{
    margin: 20px 3%;
    border:1px solid #8dc3f5;
    width:96%;
    
}
th{
    width: 30%;
    font-size: 24px;
    background-color:#d0e7fc;
    border-bottom: 1px solid #8dc3f5;
}
td{
    font-size:16px;
    background-color:rgb(241, 239, 239);
    border-bottom: 1px solid #8dc3f5;
}
